/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.iluminarRojo {

    background-color: red;
    box-shadow: 50px rgb(255, 255, 229);
}

.iluminarVerde {

    background-color: green;
    box-shadow: 50px rgb(255, 255, 229);
}

.iluminarAmarillo {

    background-color: yellow;
    box-shadow: 50px rgb(255, 255, 229);
}